.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    /* border-radius: 25px; */
    transition: .4s ease-in-out;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    width: 50%;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1,
  .button2,
  .button3 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover,
  .button2:hover,
  .button3:hover {
    background-color: black;
    color: white;
  }
  
  .button1 {
    padding-left: 1.1em;
    padding-right: 1.1em;
    margin-right: 0.5em;
  }
  
  .button2 {
    padding-left: 2.3em;
    padding-right: 2.3em;
  }
  
  .button3 {
    margin-bottom: 3em;
  }
  




  .input-group {
  position: relative;
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 70%;
  margin: 0 auto; /* Center the input fields */
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.input:focus ~ .user-label,
.input:valid ~ .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #212121;
  padding: 0 .2em;
  color: #2196f3;
}
